.BMIscrollbar {
    margin-left: 1550px;
    height: 800px;
    width: 340px;
    overflow-y: scroll;   
    margin-top: -385px; 
}

.BMI {
    margin-left: 1200px;
    height: 360px;
    width: 320px;
    margin-top: -780px; 
}
